body{
    font-family: Arial;
}
.videos-body{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;

}

.cover{

    width: 100%;    
}
.search-bar{
    display: block;
}
.video-details{

    display: grid;
    grid-template-columns: 50px 1fr;
    margin: 0;

}
.channel-picture{

    width: 40px;
    border-radius: 20px;
    margin-top: 10px;
}
.video-info{

    margin-top: 10px;
}
.video-title{

    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

.video-author, 
.video-stats{

    font-size: 12px;
    color: rgb(96, 96, 96)
}
.video-author{
    margin-bottom: 2px;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}
